---
import LinkedInIcon from "@/icons/LinkedInIcon.astro";
import GitHubIcon from "@/icons/GitHubIcon.astro";
import HackTheBoxIcon from "@/icons/HackTheBoxIcon.astro";
import XIcon from "@/icons/XIcon.astro";
import MailIcon from "@/icons/MailIcon.astro";

import { SOCIAL_DATA } from "@/utils/data.js";
---

<h1 class="font-bold text-5xl">Hola, soy Marco</h1>

<p class="text-xl mt-6 text-pretty">
    Ingeniero en Ciberseguridad con <strong
        class="text-accent dark:text-terciary/90"
        >2 años de experiencia</strong
    > realizando actividades de inteligencia de amenazas, respuesta ante incidentes,
    seguridad perimetral y pentesting.
</p>

<nav class="inline-flex flex-wrap mt-4 gap-2">
    {
        SOCIAL_DATA.map((social) => {
            return (
                <a
                    id={`link-${social.name}`}
                    href={social.url}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="inline-flex border border-secondary-dark bg-terciary/20 dark:bg-fully-dark/70 rounded-full items-center justify-center gap-2 px-4 py-1 hover:bg-secondary-dark "
                >
                    {social.name === "LinkedIn" && <LinkedInIcon />}
                    {social.name === "GitHub" && <GitHubIcon />}
                    {social.name === "HackTheBox" && <HackTheBoxIcon />}
                    {social.name === "X/Twitter" && <XIcon />}
                    {social.name === "Contactame" && <MailIcon />}
                    {social.name}
                </a>
            );
        })
    }
</nav>
