<article class="text-gray-700 dark:text-white">
    <h2 class="font-semibold text-2xl mb-8">Sobre mí</h2>

    <p class="leading-loose	text-pretty mb-4">
        Me llamo Marco Pat, me conocen como marcvs. Soy técnico e ingeniero
        titulado en redes y ciberseguridad. Actualmente coordino la
        ciberseguridad de los servicios digitales de una institución pública
        gubernamental.
    </p>
    <p class="leading-loose	text-pretty mb-4">
        He concursado en competencias de Hacking conocidas como <span
            class="font-semibold">Capture The Flag (CTF)</span
        > organizadas en el <strong
            ><a
                target="_blank"
                rel="noopener noreferrer"
                role="link"
                href="https://www.facebook.com/yucatani6/"
                >Congreso Yucatán i6</a
            ></strong
        >. En los años 2022 y 2024 con mi equipo quedamos en segundo lugar. En
        2023 capacité a los concursantes en el uso de Máquinas Virtuales y
        Contenedores para practicar sus habilidades de Hacking, así como dar a
        conocer sus diferencias.
    </p>
    <p class="leading-loose	text-pretty mb-4">
        Miembro y organizador de la comunidad de estudiantes, profesionales y
        entusiastas de la ciberseguridad, <strong
            ><a
                target="_blank"
                rel="noopener noreferrer"
                role="link"
                href="https://www.facebook.com/profile.php?id=100028409967204"
                >VidaHacker</a
            ></strong
        >.
    </p>
</article>
