---
const { textContent } = Astro.props;
---

<span
    class="text-xs font-medium me-2 px-2.5 py-0.5 rounded bg-violet-200 text-gray-600/90 dark:bg-violet-800 dark:text-violet-200 ms-3"
>
    {textContent}
</span>
