---
import BaseLayout from "@/layouts/BaseLayout.astro";

import ArticleContainer from "@/components/ArticleContainer.astro";

import Experience from "@/sections/home/Experience.astro";
import AboutMe from "@/sections/home/AboutMe.astro";
---

<BaseLayout
	title="Inicio"
	description="Ingeniero en Ciberseguridad con 2 años de experiencia realizando actividades de inteligencia de amenazas, respuesta ante incidentes, seguridad perimetral y pentesting."
>
	<ArticleContainer id="hero">
		<h1 class="font-bold text-5xl">Hola, soy Marco</h1>

		<p class="text-xl mt-6 text-pretty">
			Ingeniero en Ciberseguridad con <strong
				class="text-accent dark:text-terciary/90"
				>2 años de experiencia</strong
			> realizando actividades de inteligencia de amenazas, respuesta ante
			incidentes, seguridad perimetral y pentesting.
		</p>
	</ArticleContainer>
	<ArticleContainer id="experience">
		<Experience />
	</ArticleContainer>
	<ArticleContainer id="about-me">
		<AboutMe />
	</ArticleContainer>
</BaseLayout>
