---
import BaseLayout from "@/layouts/BaseLayout.astro";

import ContainerSection from "@/components/web/ContainerSection.astro";

import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";

import Hero from "@/sections/web/Hero.astro";
import Experience from "@/sections/web/Experience.astro";
import AboutMe from "@/sections/web/AboutMe.astro";
---

<BaseLayout title="" description="Ingeniero en Ciberseguridad con 2 años de experiencia realizando actividades de inteligencia de amenazas, respuesta ante incidentes, seguridad perimetral y pentesting.">
	<Header />
	<main class="flex flex-col gap-y-16 p-16">
		<ContainerSection id="hero">
			<Hero />
		</ContainerSection>
		<ContainerSection id="experience">
			<Experience />
		</ContainerSection>
		<ContainerSection id="about-me">
			<AboutMe />
		</ContainerSection>
	</main>
	<Footer />
</BaseLayout>
