---
import Layout from "@/layouts/Layout.astro";
import ContainerSection from "@/components/web/ContainerSection.astro";
import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";
import Hero from "@/sections/Hero.astro";
import Experience from "@/sections/Experience.astro";
import AboutMe from "@/sections/AboutMe.astro";
---

<Layout>
	<Header class="p-2" />
	<main class="flex flex-col gap-y-16 p-16">
		<ContainerSection id="hero">
			<Hero />
		</ContainerSection>
		<ContainerSection id="experience">
			<Experience />
		</ContainerSection>
		<ContainerSection id="about-me">
			<AboutMe />
		</ContainerSection>
	</main>
	<Footer class="pb-4" />
</Layout>
