<a
    href="#top"
    class="size-6 flex flex-row gap-x-2 items-center justify-center hover:font-bold"
>
    <img src="/img/logo.webp" alt="" class="rounded-full" />
    <span class="hidden md:block">Inicio</span>
</a>
