---
import NavLink from "@/components/NavLink.astro";

import DropdownIcon from "@/icons/DropdownIcon.astro";

import { NAV_ITEMS } from "@/scripts/data";
---

<nav class="py-8 px-4">
    <ul class="space-y-2 w-full">
        {
            NAV_ITEMS.map((navItem) => (
                <NavLink linkUrl={navItem.url}>{navItem.title}</NavLink>
            ))
        }
    </ul>
</nav>
