---
const { className, linkUrl, currentPath } = Astro.props
const isActive = currentPath === linkUrl
---

<li class:list={["py-2", className, { "font-semibold": isActive }]}>
    <a class="hover:font-semibold" href={linkUrl}>
        <slot />
    </a>
</li>
