---
const { tags } = Astro.props;
---

<ul id="tags" class="flex flex-wrap gap-2 list-none">
    {
        tags.map((tag: any) => (
            <li class="hover:scale-105 transition text-sm border border-terciary bg-terciary dark:border-secondary-dark dark:bg-secondary-dark rounded-full px-2 py-[2px]">
                <a class="" href={`/tags/${tag}`}>
                    #{tag}
                </a>
            </li>
        ))
    }
</ul>
