---
import MenuBurguerIcon from "@/icons/MenuBurguerIcon.astro";
---

<div class="flex items-center justify-center gap-4 md:hidden">
    <button
        id="sidebar-toggle-btn"
        class="p-2 rounded-lg dark:hover:text-secondary hover:text-secondary-dark/80"
        aria-label="Toggle sidebar"
    >
        <MenuBurguerIcon />
    </button>
</div>
