---
import "@/styles/toggle-theme.css";

import MoonIcon from "@/icons/MoonIcon.astro";
import SystemIcon from "@/icons/SystemIcon.astro";
import SunIcon from "@/icons/SunIcon.astro";

const THEMES = ["Light", "Dark", "System"];
---

<div class="relative ml-1 mr-1">
    <button
        transition:persist
        id="theme-toggle-btn"
        class="appearance-none border-none flex hover:scale-125 transition"
    >
        <span class="sr-only">Elige el tema</span>
        <SunIcon id="light" class="theme-toggle-icon size-5 transition-all" />
        <MoonIcon
            id="dark"
            class="theme-toggle-icon absolute size-5 transition-all"
        />
        <SystemIcon
            id="system"
            class="theme-toggle-icon absolute size-5 transition-all"
        />
    </button>
    <div
        transition:persist
        id="themes-menu"
        class="absolute hidden scale-80 top-8 right-0 text-sm p-1 min-w-[8rem] rounded-md border border-gray-100 bg-white/80 dark:bg-violet-500/90 dark:border-violet-900/20 shadow-[0_3px_10px_rgb(0,0,0,0.2)] dark:shadow-[0_3px_10px_rgb(255,255,255,0.3)] backdrop-blur-md"
    >
        <ul>
            {
                THEMES.map((theme) => (
                    <li class="themes-menu-option px-2 py-1.5 cursor-default hover:bg-violet-100 dark:hover:bg-violet-500 rounded-sm">
                        {theme}
                    </li>
                ))
            }
        </ul>
    </div>
</div>

<script>
    import "@/utils/toggle-theme.js";
</script>
