---
const currentYear = new Date().getFullYear();
---

<footer
    class="flex pb-2 items-center justify-center text-center w-full mx-auto dark:text-white"
>
    <span class="text-sm text-gray-700 dark:text-gray-300"
        >© {currentYear}
        <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://marcvspt.vercel.app/"
            class="hover:underline">marcvspt</a
        >. Este proyecto está licenciado bajo los términos de la <a
            class="hover:font-semibold"
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/marcvspt/marcvspt-web/blob/master/LICENSE"
            >GNU General Public License v3.0</a
        >.
    </span>
</footer>
