---
import LinkedInIcon from "@/icons/LinkedInIcon.astro";
import GitHubIcon from "@/icons/GitHubIcon.astro";
import HackTheBoxIcon from "@/icons/HackTheBoxIcon.astro";
import XIcon from "@/icons/XIcon.astro";
import MailIcon from "@/icons/MailIcon.astro";

import { SOCIAL_DATA, currentYear } from "@/scripts/data.js";
---

<footer
    class="flex flex-col pb-2 items-center justify-center gap-3 text-center"
>
    <ul class="flex flex-wrap items-center justify-center gap-2">
        {
            SOCIAL_DATA.map((social) => {
                return (
                    <li>
                        <a
                            id={`link-${social.name}`}
                            href={social.url}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="dark:hover:text-secondary hover:text-secondary-dark/80"
                        >
                            {social.name === "LinkedIn" && <LinkedInIcon />}
                            {social.name === "GitHub" && <GitHubIcon />}
                            {social.name === "HackTheBox" && <HackTheBoxIcon />}
                            {social.name === "X/Twitter" && <XIcon />}
                            {social.name === "Contactame" && <MailIcon />}
                        </a>
                    </li>
                );
            })
        }
    </ul>
    <span class="text-xs dark:text-gray-300"
        >© {currentYear}.
        <a
            class="hover:font-semibold"
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/marcvspt/marcvspt-web/blob/master/LICENSE"
            >GNU General Public License v3.0</a
        >.
    </span>
</footer>
