---
import ToggleTheme from "@/components/ToggleTheme.astro";
import ToggleSidebar from "@/components/ToggleSidebar.astro";

const { headerTitle } = Astro.props;
---

<header
    id="header"
    class="w-full shadow-sm dark:shadow-sm dark:shadow-secondary-dark/10"
>
    <div class="flex flex-row justify-between items-center md:mx-16 px-4 py-3">
        <ToggleSidebar />

        <h1 class="text-xl font-semibold">{headerTitle}</h1>

        <ToggleTheme />
    </div>
</header>
