---
import ToggleTheme from "@/components/ToggleTheme.astro";

const { pageTitle } = Astro.props;
---

<header
    id="header"
    class="min-w-scree w-full shadow-sm dark:shadow-sm dark:shadow-terciary-dark/5"
>
    <div class="flex flex-row justify-between items-center md:mx-16 px-4 py-3">
        <div class="flex items-center justify-center gap-4 md:hidden">
            <button
                id="toggleSidebar"
                class="p-2 rounded-lg hover:bg-red-500"
                aria-label="Toggle sidebar"
            >
                <svg
                    class="w-6 h-6"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>
        <h1 class="text-xl font-semibold">{pageTitle}</h1>
        <ToggleTheme />
    </div>
</header>
