---
import SocialPill from "@/components/web/SocialPill.astro";
import LinkedInIcon from "@/icons/LinkedInIcon.astro";
import GitHubIcon from "@/icons/GitHubIcon.astro";
import HackTheBoxIcon from "@/icons/HackTheBoxIcon.astro";
import MailIcon from "@/icons/MailIcon.astro";
import XIcon from "@/icons/XIcon.astro";
---

<h1 class="text-gray-700 dark:text-white font-bold text-5xl">
    Hola, soy Marco
</h1>

<p class="text-xl prose dark:prose-invert mt-6">
    Ingeniero en Ciberseguridad con <strong
        class="text-violet-500/90 dark:text-violet-300/90"
        >2 años de experiencia</strong
    > realizando actividades de inteligencia de amenazas, respuesta ante incidentes,
    seguridad perimetral y pentesting.
</p>

<nav class="inline-flex flex-wrap mt-4 gap-2 dark:text-white">
    <SocialPill
        id="social-linkedin"
        url="https://www.linkedin.com/in/marcopat01/"
    >
        <LinkedInIcon slot="icon" />
        LinkedIn
    </SocialPill>
    <SocialPill id="social-github" url="https://github.com/marcvspt">
        <GitHubIcon slot="icon" />
        GitHub
    </SocialPill>
    <SocialPill
        id="social-hackthebox"
        url="https://app.hackthebox.com/profile/935643"
    >
        <HackTheBoxIcon slot="icon" />
        HackTheBox
    </SocialPill>
    <SocialPill id="social-x-twitter" url="https://x.com/marcvspt">
        <XIcon slot="icon" />
        X/Twitter
    </SocialPill>
    <SocialPill id="social-mail" url="mailto:marcvspt@gmail.com">
        <MailIcon slot="icon" />
        Contactame
    </SocialPill>
</nav>
