---
import "@fontsource/onest"

import "@/styles/global.css"

import Header from "@/sections/Header.astro"
import Sidebar from "@/sections/Sidebar.astro"

import ClientRouter from "astro/components/ClientRouter.astro"

const { pageTitle, headerTitle, description } = Astro.props

const newHeaderTitle = headerTitle ? headerTitle : pageTitle
---

<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Marcvs Pt | {pageTitle}</title>
		<ClientRouter />
	</head>
	<body class="text-primary-dark dark:text-primary">
		<div
			class="fixed top-0 bottom-0 inset-0 -z-10 h-full w-full items-center px-5 py-24 bg-white [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)] dark:[background:radial-gradient(150%_150%_at_50%_10%,#000_40%,#63e_100%)]"
		>
		</div>
		<Sidebar />

		<div id="main-content" class="transition-all duration-300 md:ml-36">
			<Header headerTitle={newHeaderTitle} />
			<main
				class="min-h-auto mt-4 mx-auto px-3 sm:px-0 sm:max-w-lg md:max-w-xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-7xl prose-lg"
			>
				<slot />
			</main>
		</div>

		<script is:inline>
			function initializeSidebarToggle() {
				const $toggleSidebarBtn = document.querySelector(
					"#sidebar-toggle-btn",
				)
				const $sidebar = document.querySelector("#sidebar")
				const $mainContent = document.querySelector("#main-content")

				if ($toggleSidebarBtn && $sidebar && $mainContent) {
					$toggleSidebarBtn.addEventListener("click", () => {
						$sidebar.classList.toggle("-translate-x-full")
						$mainContent.classList.toggle("md:ml-36")
						$mainContent.classList.toggle("ml-36")
					})
				}
			}

			// Inicializar al cargar la página
			initializeSidebarToggle()

			// Re-inicializar después de cada transición de vista
			document.addEventListener("astro:after-swap", () => {
				initializeSidebarToggle()
			})
		</script>
	</body>
</html>
