---
import "@/styles/global.css";

import "@fontsource/onest";
import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Marcvs Pt{title}</title>
	</head>
	<body class="relative min-h-screen">
		<div
			class="absolute top-0 bottom-0 inset-0 -z-10 h-full w-full items-center px-5 py-24 bg-white [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)] dark:[background:radial-gradient(150%_150%_at_50%_10%,#000_40%,#63e_100%)]"
		>
		</div>
		<Header />
		<main class="flex flex-col gap-y-16 p-16">
			<slot />
		</main>
		<Footer />
	</body>
</html>
