---
import "@/styles/global.css";

import { SITE_DATA } from "@/scripts/data.js";

import { ClientRouter } from "astro:transitions";

export interface Props {
  title: string;
  description?: string;
  canonical?: string;
}

const { title, description = SITE_DATA.description, canonical } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    {canonical && <link rel="canonical" href={canonical} />}
    <title>{SITE_DATA.name} | {title}</title>
    <ClientRouter />
  </head>
  <body class="bg-slate-900 text-slate-100 font-sans antialiased">
    <slot />
  </body>
</html>
